body {
  // margin: 50px 30%;
}

/*
* Variables for breakpoints
*/
$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;

/*
* Map for breakpoints
*/
$breakpoints: (
  "small": (
    min-width: $mobile-landscape,
  ),
  "medium": (
    min-width: $tablet,
  ),
  "large": (
    min-width: $desktop,
  ),
);

@mixin responsive($size) {
  $query: map-get(
    $map: $breakpoints,
    $key: $size,
  );
  @media #{$query} {
    @content;
  }
}
